<div class="row">
    <div class="col-md-6">

        <pre> {{userRegistrationForm.value | json}}</pre>

        <pre> {{userRegistrationForm.error | json}}</pre>
        <form #userRegistrationForm="ngForm"
        (ngSubmit)="submit(userRegistrationForm.value)">
            <div class="form-group">
                <label>
                    User name
                    <sup class="text-danger">*</sup>
                </label>
                <input
                    #username="ngModel"
                    [(ngModel)]="userModel.username"
                    required
                    type="text"
                    class="form-control"
                    [class.is-invalid]="username.invalid && username.touched"
                    name="username"
                    maxlength="3"
                    minlength="2"
                >
                <pre>{{username.error|json}}</pre>
                <div class="text-danger">

                    <small *ngIf="username.errors?.required">Name field is required</small>
                    <small *ngIf="username.errors?.minlength">minlength</small>
                    <small *ngIf="username.errors?.maxlength">maxlength</small>

                </div>

            </div>

            <div class="form-group">
                <label>
                    E-mail
                    <sup class="text-danger">*</sup>
                </label>
                <input
                    #email="ngModel"
                    [(ngModel)]="userModel.email"
                    name="email"
                    type="email"
                    class="form-control"
                    [class.is-invalid]="email.invalid && email.touched"
                    required
                    (change)="username.errors.required"
                >
                <small
                    class="text-danger"
                    *ngIf="email.invalid && email.touched"
                >
                    email field is required
                </small>
            </div>

            <pre>{{email.errors|json}}</pre>

            {{email.value}}
            <div class="form-group">
                <label>
                    Password
                    <sup class="text-danger">*</sup>
                </label>
                <input
                    #password="ngModel"
                    [(ngModel)]="userModel.password"
                    name="password"
                    type="text"
                    class="form-control"
                    [class.is-invalid]="password.invalid && password.touched"
                    required
                >
                <small
                    class="text-danger"
                    *ngIf="password.invalid && password.touched"
                >
                    password field is required
                </small>
            </div>
            {{password.value}}
            <div class="form-group">
                <label>
                    Sex
                    <sup class="text-danger">*</sup>
                </label>
                <select
                    class="form-control"
                    name="sex"
                    #sex="ngModel"
                    [(ngModel)]="userModel.sex"
                    [class.is-invalid]="sex.invalid && sex.touched"
                    required
                >
                    >
                    <option value>select</option>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
                <small
                    class="text-danger"
                    *ngIf="sex.invalid && sex.touched"
                >
                    Sex field is required
                </small>
            </div>

            <div class="form-group">
                <button
                    class="btn btn-danger form-control"
                    type="reset"
                >
                    Reset
                </button>
                <button
                    class="btn btn-success form-control"
                    type="submit"
                    [disabled]="userRegistrationForm.invalid"
                >
                    Send
                </button>
            </div>
        </form>
    </div>
</div>
