<nav class="p-2">
    <ul class="nav">
        <li class="nav">
            <a
                class="btn btn-secondary"
                routerLink=""
                routerLinkActive="btn-success"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Home
            </a>
        </li>
        <li>
                <a
                class="btn btn-secondary"
                routerLink="movies"
                routerLinkActive="btn-success"
                >
                    Movies
                </a>
            </li>
        <li>
            <a
            class="btn btn-secondary"
            routerLink="contact"
            routerLinkActive="btn-success"
            >
                Contact
            </a>
        </li>
    </ul>
</nav>